{% extends 'base.html.twig' %}

{% block title %}New P06PiecePays{% endblock %}

{% block body %}
    <h1 class="mb-5">Create new P06PiecePays</h1>

    {{ include('piece_pays/_form.html.twig') }}

    <br/>
    <br/>

    <a class="btn btn-primary"  href="{{ path('app_piece_pays_index') }}">back to list</a>
{% endblock %}
