{% extends 'base.html.twig' %}

{% block title %}Edit P06PieceCaracteristique{% endblock %}

{% block body %}
    <h1 class="mb-5">Edit P06PieceCaracteristique</h1>

    <div class="container">
        {{ include('piece_caracteristique/_form.html.twig', {'button_label': 'Update'}) }}

        <br/>
        <br/>
        <div class="d-flex">
            <a class="btn btn-primary mr-3" href="{{ path('app_piece_caracteristique_index') }}">back to list</a>

            {{ include('piece_caracteristique/_delete_form.html.twig') }}
      </div>
    </div>
{% endblock %}
