{% extends 'base.html.twig' %}

{% block title %}New P06Collectionneur{% endblock %}

{% block body %}
    <h1 class="mb-5">Create new P06Collectionneur</h1>

    {{ include('collectionneur/_form.html.twig') }}

    <br/>
    <br/>

    <a class="btn btn-primary" href="{{ path('app_collectionneur_index') }}">back to list</a>
{% endblock %}
